/* '/abc' page == index.html*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.green{/*[class="green"]*/
	background-color: #5ade54;
}
.orange{
	background-color: #ffd800;
}
.small{
	font-size: 18px;
}
.medium{
	font-size: 36px;
}
.big{
	font-size: 72px;
}

form{
	background: #eee;
	border: solid 3px #000;
}

[type="button"]:hover{
	background: #000;
	color: pink;
}

/* main page */

table{
	border-collapse: collapse;
}

tr {
	border-bottom: 1px #bbb solid;
}

tr:nth-of-type(2n){
	background: #ddd;
}